.Sign__Overlay,
.Log__Overlay {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  z-index: 1010;
}

.SignIn2.disabble,
.LogIn2.disabl {
  display: none;
}

.Sign__Overlay.activ,
.Log__Overlay.acti {
  display: flex;
}
.SignIn,
.LogIn {
  width: 30rem;
  height: fit-content;
  background-color: var(--backgroud-blanco);
  border-radius: 15px;
  box-shadow: 0 4px 18px 0 rgb(0 0 0 / 10%);
  animation: aparecer 0.6s;
}

@keyframes aparecer {
  0% {
    transform: scale(0, 0);
  }

  50% {
    transform: scale(1.2, 1.2);
  }

  100% {
    transform: (1);
  }
}

.SignIn__Title,
.LogIn__Title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1.5rem;
}

.SignIn__Title h6,
.LogIn__Title h6 {
  flex: 1;
  line-height: 1;
  margin: 0;
  text-align: left;
  font-size: 1.5625rem;
  color: #3c3c3c;
}

.LogContent {
  margin: 1.5rem 2.5rem;
  display: flex;
  flex-direction: column;
}

.logContent__Brands {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttonLog {
  letter-spacing: 1.3px;
  text-transform: uppercase;
  max-width: 100%;
  height: 4vh;
  border-radius: 10px;
  background: none;
  font-weight: 500;
}

.SignIn__Google,
.LogIn__Google {
  border: 3px solid #3369e8;
  border-radius: 10px;
  color: #3369e8;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: .9rem;
}

.SignIn__Google img,
.LogIn__Google img {
  max-width: 1.25rem;
}

.SignIn__Facebook,
.LogIn__Facebook {
  border: 3px solid #0078f7;
  border-radius: 10px;
  color: #0078f7;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  font-size: 0.9rem;
}

.SignIn__Facebook img,
.LogIn__Facebook img {
  max-width: 1.25rem;
}

.LogContent p {
  text-align: center;
}

.inputLog {
  border: 2px solid #bdbdbd !important;
  width: 100%;
  height: 5vh;
  background: none;
  margin-bottom: 0.5rem;
  border-radius: 10px;
  color: #3c3c3c;
  padding: 0 1rem;
  font-size: 1.1rem;
}

.Log__o {
  margin: 0.4rem;
}

.Log__submit___btn {
  height: 5vh;
  background-color: #4884ee;
  font-size: 1.3rem;
  color: #ffffff;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  margin-top: 1rem;
  width: 100%;
  cursor: pointer;
}

.Log__submit___btn:hover {
  background-color: var(--boton-azul);
}

.pswRecovery {
  color: #4884ee;
  text-align: center;
  margin: 0.5rem 0;
}
.logQuestion {
  margin: 0;
  padding: 0;
}

.Check__Termin___Cond {
  font-size: 0.8rem;
}

.logQuestion a,
.Check__Termin___Cond a {
  color: #4884ee;
  margin: 0;
}

.log__Exit {
  cursor: pointer;
}
